$input-font-color: #ff1500;
$color-primary: #0ea009;
$color-secondary: #ffe601;
$box-border: 1px solid #c7c7c7;
$box-padding: 15px;
$colors: ( blue-color: blue, yellow-color: rgb(240, 240, 82), green-color:green);